In [22]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk import word_tokenize
from nltk.stem.porter import PorterStemmer
from pyvi import ViTokenizer, ViPosTagger
import gensim

C:\Users\Admin\Anaconda3\lib\site-packages\gensim\utils.py:1212: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

In [11]:
import hashlib
import csv
import datetime
from datetime import datetime, timedelta

start_date=datetime.strptime('2018-12-01', "%Y-%m-%d")  
end_date=datetime.strptime('2019-02-27', "%Y-%m-%d") 
#đọc dữ liệu
data=[]
while start_date < end_date:
    with open(str(start_date)[:10]+'.csv', 'r',encoding="utf8") as csvFile:
        reader = csv.reader(csvFile)
        i=0
        for row in reader:
            if i!=0:
                data.append(row)
            i=i+1
    start_date += timedelta(days=1)

In [12]:
#lọc các data có đủ 10 phần tử
buf=[]
for i in data:
	if len(i) ==18:
		buf.append(i)
data=buf

In [14]:
for i in range(len(data)):
	day=datetime.strptime(data[i][0], '%Y-%M-%d').strftime('%A')
	if day == 'Monday':
		data[i][0]=1
	elif day == 'Tuesday':
		data[i][0]=2
	elif day == 'Wednesday':
		data[i][0]=3
	elif day == 'Thursday':
		data[i][0]=4
	elif day == 'Friday':
		data[i][0]=5
	elif day == 'Saturday':
		data[i][0]=6
	else:
		data[i][0]=7
	data[i][1]=int(data[i][1])
	data[i][2]=int(data[i][2])
	data[i][3]=int(data[i][3])
	data[i][4]=float(data[i][4])
	a=int(hashlib.sha256(data[i][5].encode('utf-8')).hexdigest(), 16) % 10**8
	data[i][5]=a
	a=int(hashlib.sha256(data[i][6].encode('utf-8')).hexdigest(), 16) % 10**8
	data[i][6]=a
	a=int(hashlib.sha256(data[i][8].encode('utf-8')).hexdigest(), 16) % 10**8
	data[i][8]=a
	data[i][9]=int(data[i][9])
	a=int(hashlib.sha256(data[i][10].encode('utf-8')).hexdigest(), 16) % 10**8
	data[i][10]=a
	a=int(hashlib.sha256(data[i][12].encode('utf-8')).hexdigest(), 16) % 10**8
	data[i][12]=a
	a=int(hashlib.sha256(data[i][13].encode('utf-8')).hexdigest(), 16) % 10**8
	data[i][13]=a
	a=int(hashlib.sha256(data[i][14].encode('utf-8')).hexdigest(), 16) % 10**8
	data[i][14]=a
	data[i][15]=int(data[i][15])
	a=int(hashlib.sha256(data[i][16].encode('utf-8')).hexdigest(), 16) % 10**8
	data[i][16]=a

In [16]:
buf1=[]
for i in range(len(data)):
    buf1.append(data[i])

In [17]:
#lọc các content khác rỗng
buf=[]
for i in buf1:
    if i[7]!="":
        buf.append(i)

In [18]:
def preprocessing_doc(doc):
    lines = gensim.utils.simple_preprocess(doc)
    lines = ' '.join(lines)
    lines = ViTokenizer.tokenize(lines)
    return lines

In [19]:
def tokenize(text):
    tokens = word_tokenize(text)
    stems = []
    for item in tokens: stems.append(PorterStemmer().stem(item))
    return stems

In [20]:
def get_top(text):
    text = [preprocessing_doc(text)]
    if text == [""]:
        return text
    else:
        text = [" ".join(tokenize(txt)) for txt in text]
    vectorizer = TfidfVectorizer()
    matrix = vectorizer.fit_transform(text).todense()
    matrix = pd.DataFrame(matrix, columns=vectorizer.get_feature_names())
    top_words = matrix.sum(axis=0).sort_values(ascending=False)
    a=top_words.keys()
    return a

In [23]:
for i in range(0,len(buf)):
    a=get_top(str(buf[i][7]))
    buf[i][7]=a

In [24]:
dem=[]
for i in buf:
    dem.append(i)

In [25]:
for i in range(len(dem)):
    dem[i][4]=int(dem[i][4]*10000)

In [26]:
for i in range(len(dem)):
    dem[i][7]=list(dem[i][7])

In [67]:
for i in range(len(dem)):
    dem[i][11]=dem[i][11].split(",")

In [69]:
dem_df=pd.DataFrame(dem)
dem_df.columns=['date', 'bannerid', 'zoneid', 'campaignid', 'ctr', 'zone_name_ssp', 'banname', 'bandesc_adx', 'url', 
'ban_width', 'ban_height', 'pcat_id', 'label_name', 'label_branch', 'zone_name_adx', 'zone_width', 'zone_height','ssp_zoneid']
dem_df.head()

,date,bannerid,zoneid,campaignid,ctr,zone_name_ssp,banname,bandesc_adx,url,ban_width,ban_height,pcat_id,label_name,label_branch,zone_name_adx,zone_width,zone_height,ssp_zoneid
0,1,67946,476740,21482,43,9589435,76280938,"[đau, tim, thắt, suy, phòng, ngực, nguy_cơ, giảm]",89274557,300,99955337,[63],94605910,65086549,9589435,300,30285947,
1,1,67946,477394,21482,79,53959596,76280938,"[đau, tim, thắt, suy, phòng, ngực, nguy_cơ, giảm]",89274557,300,99955337,[63],94605910,65086549,53959596,300,30285947,
2,1,67946,477468,21482,34,26889411,76280938,"[đau, tim, thắt, suy, phòng, ngực, nguy_cơ, giảm]",89274557,300,99955337,[63],94605910,65086549,26889411,300,30285947,
3,1,67946,477498,21482,87,75832232,76280938,"[đau, tim, thắt, suy, phòng, ngực, nguy_cơ, giảm]",89274557,300,99955337,[63],94605910,65086549,75832232,300,30285947,
4,1,67946,477507,21482,44,49640208,76280938,"[đau, tim, thắt, suy, phòng, ngực, nguy_cơ, giảm]",89274557,300,99955337,[63],94605910,65086549,49640208,300,30285947,

In [71]:
l=list(dem_df["pcat_id"])
m=list(dem_df["bandesc_adx"])

In [74]:
#tạo tập hợp nhóm content banner theo pcat id
t={}
for i in range(len(l)):
    for j in range(len(l[i])):
        if l[i][j] not in t.keys():
            t[l[i][j]]=[m[i]]
        else:
            t[l[i][j]]=t[l[i][j]]+[m[i]]

In [75]:
a=[]
for key in t.keys():
    a.append(key)

63
10
64

2
37
9
44
41
11
13
12
86
7
72
38
150
85

In [76]:
for i in a:
    t[i]=list(set([i for sublist in t[i] for i in sublist]))

In [80]:
rule=[]
for i in range(len(l)):
    if len(l[i])==1:
               k= int(10000*(len(m[i])/len(t[l[i][0]])))
               rule.append(k)
    else:
               k1= len(m[i])/len(t[l[i][0]])
               k2=len(m[i])/len(t[l[i][1]])
               k=int(((k1+k2)/2)*10000)
               rule.append(k)
len(rule)

493160

In [83]:
dem_df['bandesc_adx']=pd.DataFrame(rule)

In [97]:
a=list(dem_df['pcat_id'])

In [98]:
ha=[]
for i in a:
    h=int(hashlib.sha256(str(i).encode('utf-8')).hexdigest(), 16) % 10**8
    ha.append(h)
len(ha)

493160

In [102]:
dem_df['pcat_id']=pd.DataFrame(ha)

In [103]:
train=dem_df[:420000]
test=dem_df[420000:]

In [104]:
import pandas as pd
train_df= pd.DataFrame(train)
test_df= pd.DataFrame(test)

In [105]:
train_df.head()

,date,bannerid,zoneid,campaignid,ctr,zone_name_ssp,banname,bandesc_adx,url,ban_width,ban_height,pcat_id,label_name,label_branch,zone_name_adx,zone_width,zone_height,ssp_zoneid
0,1,67946,476740,21482,43,9589435,76280938,40,89274557,300,99955337,6440508,94605910,65086549,9589435,300,30285947,
1,1,67946,477394,21482,79,53959596,76280938,40,89274557,300,99955337,6440508,94605910,65086549,53959596,300,30285947,
2,1,67946,477468,21482,34,26889411,76280938,40,89274557,300,99955337,6440508,94605910,65086549,26889411,300,30285947,
3,1,67946,477498,21482,87,75832232,76280938,40,89274557,300,99955337,6440508,94605910,65086549,75832232,300,30285947,
4,1,67946,477507,21482,44,49640208,76280938,40,89274557,300,99955337,6440508,94605910,65086549,49640208,300,30285947,

In [106]:
train_df.columns=['date', 'bannerid', 'zoneid', 'campaignid', 'ctr', 'zone_name_ssp', 'banname', 'bandesc_adx', 'url', 
'ban_width', 'ban_height', 'pcat_id', 'label_name', 'label_branch', 'zone_name_adx', 'zone_width', 'zone_height','ssp_zoneid']
test_df.columns=['date', 'bannerid', 'zoneid', 'campaignid', 'ctr', 'zone_name_ssp', 'banname', 'bandesc_adx', 'url', 
'ban_width', 'ban_height', 'pcat_id', 'label_name', 'label_branch', 'zone_name_adx', 'zone_width', 'zone_height','ssp_zoneid']

In [107]:
Y_train=train_df["ctr"]
X_train=train_df.drop(["ban_height","zone_width","url","banname","campaignid","ctr","bannerid","zoneid","ban_width","zone_height","label_name","label_branch","zone_name_adx",'ssp_zoneid'], axis=1)
Y_test=test_df["ctr"]
X_test=test_df.drop(["ban_height","zone_width","url","banname","campaignid","ctr","bannerid","zoneid","ban_width","zone_height","label_name","label_branch","zone_name_adx",'ssp_zoneid'], axis=1)
X_train.shape, Y_train.shape, X_test.shape, Y_test.shape

((420000, 4), (420000,), (73160, 4), (73160,))

In [108]:
X_train.head()

   date  zone_name_ssp  bandesc_adx  pcat_id
0     1        9589435           40  6440508
1     1       53959596           40  6440508
2     1       26889411           40  6440508
3     1       75832232           40  6440508
4     1       49640208           40  6440508

In [109]:
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0, solver='lbfgs',multi_class='multinomial').fit(X_train, Y_train)
Y_pred =clf.predict(X_test)

In [111]:
Y_pred=list(Y_pred)

In [112]:
Y_test=list(Y_test)

In [113]:
sum=0
k=0
for i in range(len(Y_test)):
    if Y_test[i] != 0:
        sum= sum + abs((Y_test[i]- Y_pred[i])/Y_test[i])
        k=k+1
rmse=sum/k
rmse

1.0725445043910815